# Ignore Source Data
*.json

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
env/
venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log
